

<div class="container-fluid">
    <div class="row" style="padding-top:50px; padding-left: 150px; padding-right:50px;">
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="..\assets\download.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Building 1</h5>
                <p class="card-text">Located in Kanakapura Road</p>
                <a  (click)="goToBuilding('1')" class="btn btn-info stretched-link">Registration</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="..\assets\download.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Building 2</h5>
                <p class="card-text">Located in JP Nagar Phase2</p>
                <a  (click)="goToBuilding('2')" class="btn btn-danger stretched-link">Registration</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="..\assets\download.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Building 3</h5>
                <p class="card-text">Located in Electronic City</p>
                <a  (click)="goToBuilding('3')" class="btn btn-primary stretched-link">Registration</a>
              </div>
          </div>
      </div>
      
    </div>
    <div class="row" style="padding-top:50px; padding-left: 150px; padding-right:50px;">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="..\assets\download.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Building 4</h5>
                  <p class="card-text">Located in M.G Road</p>
                  <a  (click)="goToBuilding('4')" class="btn btn-success stretched-link">Registration</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;"> 
                <img src="..\assets\download.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Building 5</h5>
                  <p class="card-text">Located in Cubbon Park</p>
                  <a  (click)="goToBuilding('5')" class="btn btn-warning stretched-link">Registration</a>
                </div>
            </div>
        </div>
      </div>
  
  </div>
  
  
  