<div class="container-fluid">
    <div class="row" >
      <div style="margin-left: auto;margin-right: auto;">
          <h1>Welcome To Refixd PG</h1>
      </div>
        
    </div>
    <div class="row" style="padding-top:50px; padding-left: 150px; padding-right:50px;">
        <div class="col-md-11">
            <div class="card">
                <div class="card-body">
                    <img src="../assets/ff80818162e6a1b90162f29703324f6d_85292_large.jpg" style="height: 200px" class="card-img-top" alt="...">
                  <h5 class="card-title">About Us</h5>
                  <p class="card-text">Paying Guest is someone who takes a part of your house on rent, 
                      for example someone generally an elderly person staying alone giving 1 room on 
                      rent in a 2 /3 Bedroom apartment with all the furniture, including breakfast and some meals and the facility of laundary etc... It helps the elderly home owner with some financial and emotional support. Normally young students, freshers take up these kind of opportunity as it comes pretty reasonable and their focus at this time of life is college, studies, work etc.. 
                    and they are hardly expected to be in the room, so why spend much on a room.</p>
                      <a href="/registerform" class="btn btn-primary stretched-link">Buildings</a>
                </div>
            </div>
        </div></div>
  </div>